
#content {
  background-image:url("../img/background1.png");
  padding-top: 150px;
  padding-bottom: 200px;
}
#sectionOne {
  margin-bottom: 90px;
}
#paragraph {
  padding: 240px 0px 0 150px;
}
#ima3{
    width: 1050px;
    margin-left: -850px;
    margin-top: 50px;
    padding-right: 100px;
    height: 260px;
    margin-right: 0px
}
#cableConnect img {
  width: 60%;
  position: absolute;
  top: 300px;
  left: 400px;
}
#marginTop {
  margin-top: 150px;
  padding-right: 100px;
}
#secondSection {
  padding-top: 400px;
}
#nuveConsulta{
	width: 600px;
  padding-bottom: 125px;
}
#uno{
  background-image:url("../img/consultoria1.png");
}
#dos{
  background-image:url("../img/consultoria2.png");
}
#tres{
  background-image:url("../img/consultoria3.png");
}
#cuatro{
  background-image:url("../img/consultoria4.png");
}
#boxText {
  position: absolute;
  top: 35%;
  padding: 30px;
}
#uno, #dos, #tres, #cuatro {
  background-repeat: no-repeat;
}
#uno:before, #dos:before, #tres:before, #cuatro:before {
  content:"";
  display:block;
  padding-top:100%;
}
#verdaderaConsultoria {
	margin-top: 90px;
	width: 500px;
  margin-bottom: 25px;
}
#backgroundParagraph {
  background-color: rgba(153, 170, 178, .8);
  padding: 30px;
}
#sec {
  background-image:url("../img/background_3.png");
  background-position: bottom center;
}
#ima4 {
	width: 600px;
	padding-left: 100px;
}
