@font-face {
  font-family: Varela Round;
  src: url(../font/VarelaRound-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: Varela Round;
}
p, a, h1, h2, h3 {
  font-family: Varela Round;
}
#menu {
  background-color: #42337d;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-bottom:-10px;
  padding: 30px 0 20px;
}
.navbar {
  border-radius: 0;
}
p, dd, dt {
  font-size: 18px;
  font-family: Varela Round;
}
dt {
  margin-top: 15px;
}
dd {
  margin-bottom: 15px;
}
footer{
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
}
.textBlue {
  color: #34266f;
}
.textWhite {
  color: white;
}
.row { margin: 0; }
.morespace {
  padding-bottom: 15px;
}
.enfasis{
  color: #defb51;
}
.title {
  font-size: 50px;
  padding: 100px 0;
}
.titleImg img {
  width: 100%;
}
#menu a{
  color: white;
}
#menu a:hover{
  color: #defb51;
}
.navbar-default {
    border-width: 0;
}
.navbar-default .navbar-nav>li {
    text-align: center;
}
.navbar-default .navbar-nav>li>a {
    padding: 0 25px;
}
#logo-menu{
  position: absolute;
  left: 15%;
  margin-top: -20px;
  width: 120px;
  z-index: 1;
}
#logo-menu img {
  width: 100%;
}
#trafico{
	background-image: url("../img/background-4.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.paddingTop100 {
  padding-top: 100px;
}
.padding200px {
  padding: 60px 200px;
}
.padding0 {
  padding: 0 !important;
}
.padding30px {
  padding-top: 30px;
}
.bigYellow {
  color: #defb51;
  font-size: 40px;
}
.space50px {
  padding: 50px;
}
.space75px {
  padding: 75px;
}
#column2Footer {
  padding: 60px 100px 60px 40px;
}
#footerStyle{
  background-color: black;
  padding: 40px;
  color: white;
}
#footerStyle p {
  margin: 0;
}
#content {
  background-image:url("../img/background1.png");
  padding-top: 150px;
  padding-bottom: 195px;
}
#ima4 {
	width: 600px;
	padding-left: 100px;
}
#marginTop {
  margin-top: 150px;
  padding-right: 100px;
}
#nuveConsulta{
	width: 600px;
  padding-bottom: 125px;
}
@media (max-width: 767px) {
  #menu {
    padding: 15px 0 15px;
  }
  #logo-menu {
    margin-top: 0;
    left: 5%;
  }
  .navbar-default .navbar-nav>li {
    text-align: right;
    padding: 15px 0;
  }
  #contentText, #paragraph, #paragraph-1, #paragraph-2, #paragraph-3 {
    padding: 0 30px !important;
  }
  #numbers {
    height: auto !important;
  }
  #trafficImg {
    width: 100% !important;
    margin-bottom: 20px;
  }
  #masSocialWoman, #comprenderleImg img {
    margin-top: -20px !important;
    right: 0 !important;
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
  }
  #masSocial .row {
    padding: 50px 50px 0 0 !important;
  }
  #paragraph-3 {
    padding: 50px 20px 30px 80px !important;
  }
  #ele, #people {
    display: none;
  }
  #bombilla img {
    right: -30% !important;
    width: 50% !important;
    margin-top: 300px !important;
  }
  #column2Footer {
        padding: 15px 50px 15px 15px !important;
  }
  #column2Footer p { font-size: 14px; }
  #column2Footer h3 {
    font-size: 18px;
    margin-top: 0;
  }
  footer {
    background-color: #3c2878;
    background-image: none;
  }
}
@media (min-width: 768px) {
  #menuElements {
    margin-left: 30%;
  }
}
@media (max-width: 1680px) {
  #content {
    padding-bottom: 100px;
  }
  #column2Footer {
    padding: 40px 100px 40px 40px;
  }
}
