@font-face {
  font-family: Varela Round;
  src: url(../font/VarelaRound-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: Varela Round;
}
p, a, h1, h2, h3 {
  font-family: Varela Round;
}
header{
  background-color: #42337d;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-bottom:-10px;
  padding: 30px 0 20px;
}
header .list-inline {
  margin-bottom: 0;
}
p, dd, dt {
  font-size: 18px;
  font-family: Varela Round;
}
dt {
  margin-top: 15px;
}
dd {
  margin-bottom: 15px;
}
footer{
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
}
.textBlue {
  color: #34266f;
}
.textWhite {
  color: white;
}
.row { margin: 0; }
.list-inline>li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}
.morespace {
  padding-bottom: 15px;
}
.enfasis{
  color: #defb51;
}
.title {
  font-size: 50px;
  padding: 100px 0;
}
.titleImg img {
  width: 100%;
}
#menu a{
  color: white;
}
#menu a:hover{
  color: #defb51;
}
#logo-menu{
  position: absolute;
  right: 50px;
  margin-top: -20px;
  width: 120px;
}
#logo-menu img {
  width: 100%;
}
#trafico{
	background-image: url("../img/background-4.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.paddingTop100 {
  padding-top: 100px;
}
.padding200px {
  padding: 60px 200px;
}
.padding0 {
  padding: 0 !important;
}
.bigYellow {
  color: #defb51;
  font-size: 40px;
}
.space50px {
  padding: 50px;
}
#column2Footer {
  padding: 60px 100px 60px 40px;
}
#footerStyle{
  background-color: black;
  padding: 40px;
  color: white;
}
#footerStyle p {
  margin: 0;
}
@media (max-width: 1366px) {
  #column2Footer {
    padding: 40px 60px;
  }
}












#parrafo4{
  margin-left: 100px;
  margin-right: 1000px;
}
