header{
background-image: url("../img/MENU.png") ;
background-repeat: no-repeat;
 position: relative;
z-index: 1;
    height: 70px;
    margin-bottom:-10px;
}
nav{
margin-top: 35px;
margin-left: -80px;
}
#menu a{
color: white;
}
#menu a:hover{
color: #defb51;
}
#ima{
	position: absolute;
	margin-left: 50px;
    margin-top: 10px;
    height: 100px;
}
#ima2{
margin-top: 60px;
    margin-left: 825px;
    width: 600px;
    margin-bottom: 80px;
}
.parrafo{
  padding-right: 400px;
    padding-left: 200px;
    text-align: justify;
}
.parrafo1{
      padding-right: 50px;
    text-align: justify;
    padding-left: 60px;
    margin-left: 90px;
    margin-top: -90px;
}
#parrafo3{
  padding-left: 200px;
  text-align: justify;
  margin-bottom: 250px;
  margin-top: 100px;
}
#espacio{
  margin-top: 100px;
}
#espacio2{
  margin-bottom:90px;
}
#ima3{
  width: 700px;
}
#ima4{
  margin-left: 90px;
    margin-bottom: 50px;
    margin-top: -40px;
}
#ima5{
  width: 600px;
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
}
#ima6{
    width: 250px;
    margin-left: 170px;
    margin-top: 100px;
}
#ima7{
      width: 600px;
    margin-left: 350px;
    margin-top: -29px;
    margin-bottom: 55px
}
#ima8{
  margin-top: 90px;
    width: 600px;
    margin-left: 700px;
    margin-bottom: 50px;
}
#arre1{
      width: 190px;
}
#arre{
         margin-left: 100px;
}
.mov{
  margin-right: 90px !important;
}
#parrafo4{
  color: white;
    font-size: large;
    padding-left: 200px;
    padding-right: 80px;
    text-align: justify
}
#text{
  margin-top: 10px;
  text-align: justify;
}
#enfa{
  color: #defb51;
  font-size: -webkit-xxx-large;
}
#arre2{
  padding-right: 200px;
    padding-left: 20px;
    margin-bottom: 100px;
    text-align: justify;
}
#prin{
background-image:url("../img/background-4.png");
background-size: cover;
}

#sec{
	background-image:url("../img/background2.png");
  background-size: cover;
}
#tre{
	background-image:url("../img/background3.png");
  background-size: cover;
}
#cu{
  background-image: url("../img/background4.png");
  background-size: cover;
}
#enfasis{
  color: #defb51;
}
.ali{
  text-align: right;
      padding-right: 50px;
}

footer{
background-image: url("../img/footer.png");
  background-repeat: no-repeat;
    background-size: 1585px 445px;
}
#final{
      padding-right: 200px;
    text-align: justify;
}
#pie{
    margin-bottom: 200px
}
#piee{
  background-color: black;
  text-align: center;
      padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
